@()
<!doctype html>
<html lang='en' data-framework='angular2'>
  <head>
    <base href='/' />
    <meta charset='utf-8' />
    <title>Modelwyn</title>

    <link rel='stylesheet' href='@routes.Assets.versioned("lib/normalize.css/normalize.css")'/>
    <link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/main.min.css")'/>

    <!-- SystemJS scaffolding -->
    <script type='text/javascript' src='@routes.Assets.versioned("lib/core-js/client/shim.min.js")'></script>
    <script type='text/javascript' src='@routes.Assets.versioned("lib/zone.js/dist/zone.js")'></script>
    <script type='text/javascript' src='@routes.Assets.versioned("lib/systemjs/dist/system.src.js")'></script>
    <script type='text/javascript' src='@routes.Assets.versioned("systemjs.config.js")'></script>
  </head>
  <body>
    <main>... Loading ...</main>
  </body>
</html>
